
.btn {
  display: block;
  margin-top: 30px;
  background: lightcoral;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  box-shadow: 2px 2px 5px 2px rgb(0 0 0 /.2);
  cursor: pointer;
  transition: background-color .1s ease-out ;

  &:active {
    background: darken(lightcoral, 2);
    transition: background-color .1s ease-out ;
  }
}

.svg {
  overflow: visible;
}

.line {
  fill: none;
  stroke: lightcoral;
  stroke-width: 2px;
}